<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
    bootstrap="phpunit.php"
    forceCoversAnnotation="false"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    verbose="true"
    colors="true"
>

    <listeners>
        <listener class="TestListener" file="./tests/php/TestListener.php"></listener>
    </listeners>
</phpunit>
